<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    
    </head>
<body>
    <div class="testbox">
        <form action="/" method="POST">
          {% csrf_token %}
          <div class="banner">
            <h1>Dojo Survey</h1>
          </div>
          <p class="top-info">Thank you for your interest in working with us. Please check below for available job opportunities that meet your criteria and send your application by filling out the Job Application Form.</p>
          <div class="item">
            <p>Name<span class="required">*</span></p>
            <div class="name-item">
              <input type="text" name="name" placeholder="name" required/>
            </div>
          </div>
          
          <div class="position-item">
            <div class="item">
              <p>Dojo Location<span class="required">*</span></p>
              <select required name="location">
                <option value="San jose" selected>San jose</option>
                <option value="Tirana">Tirana</option>
                <option value="Pristina">Pristina</option>
                <option value="Spain">Spain</option>
              </select>
            </div>
          </div>
          <div class="position-item">
            <div class="item">
              <p>Dojo Location<span class="required">*</span></p>
              <select required name="favlang">
                <option value="Python" selected>Python</option>
                <option value="Java">Java</option>
                <option value="C#">C#</option>
                <option value="C">C</option>
              </select>
            </div>
          </div>
          <div class="item">
            <p>Submit your comment</p>
            <textarea name="textarea" id="textarea" cols="30" rows="10"></textarea>
          </div>
          <div class="btn-block">
            <button type="submit" href="/">Submit</button>
          </div>
        </form>
      </div>
</body>
</html>